@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @variants responsive {
    .grid-col-div {
      grid-template-columns: 1fr minmax(250px, 40%);
    }
    .grid-col-card{
        grid-template-columns: minmax(200px, 35%) 1fr;
      }
  }

  .card-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-child{
    flex: 0 1 180px; /*  No stretching: */
    margin: 20px;
  }
}
